<% if @article.errors.any? %>

  <h2>The following errors prevented the article from being saved:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with(model: @article, local: true) do |f| %>
<div class="shadow bg-white rounded">
  <br>
  
  <div class="form-group row">
    <%= f.label :title, class:"col-2 col-form-label my-title" %>
    <div class="col-7">
      <%= f.text_field :title, class:"form-control shadow mb-5 bg-white rounded" %>
    </div>
  </div>
  <br>

  <div class="form-group row">
    <%= f.label :description, class:"col-2 col-form-label my-title" %>
    <div class="col-7">
      <%= f.text_area :description,rows:10, class:"form-control shadow mb-5 bg-white rounded" %>
    </div>
  </div>
  <br>
  <div>
    <%= f.submit class:"btn btn-primary btn-lg"%>
  </div>
  <br>

</div>
<% end %>
<br>
<%= button_to 'return to all articles',articles_path, method: :get, class:"btn btn-primary btn-lg"%>
