<h1 class="text-center mt-4">Articles listing page</h1>


<% @articles.each do |article| %>
    <div class="card text-center my-card shadow mb-5 bg-white rounded">
        <div class="card-header">
            Muhammad Abdullah
        </div>
        <div class="card-body">
            <h5 class="card-title for-hover"><%= link_to article.title, article_path(article), class:"card-title for-hover"%></h5>
            <p class="card-text"><%=article.description%></p>
            <%= button_to 'Show', article_path(article), class:"btn btn-outline-primary my-button", method: :get %> <%= button_to 'Edit', edit_article_path(article),class:"btn btn-outline-primary my-button", method: :get %> <%= button_to 'Delete', article_path(article),class:"btn btn-outline-primary my-button", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <div class="card-footer text-body-secondary">
            <small>Created : <%= time_ago_in_words(article.created_at)%> ago, </small>
            <small>Updated : <%= time_ago_in_words(article.updated_at)%> ago</small>

        </div>
    </div>


<%end%>

<br>
<br>

<p><%= button_to 'New Article', new_article_path, method: :get, class:"btn btn-primary btn-lg my-button"%></p>
<p><%= button_to 'Go to Home Page ', root_path, method: :get, class:"btn btn-primary btn-lg my-button"%></p>
